<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <h1 class="h1 p-3 "><u>Contact Us</u></h1>

        <div class="container">
            <div class="row">
                <div class="col">Address:</div>
                <div class="col">123 street, Brendon city, Uganda</div>
            </div>
            <div class="row">
                <div class="col">Telephone no.:</div>
                <div class="col">9876543210</div>
            </div>
        </div>
    </body>
</html>