<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <h1 class="h1">Sign Up</h1>
        <div class="container align-left">
            <form class="inline-form" action="signup" method="post">
                <div class="row">
                    <div class="col">User name</div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="username" placeholder="Enter User Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col">First Name</div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="firstname" placeholder="Enter First Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col">Last name</div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="lastname" placeholder="lastname" >
                    </div>
                </div>
                <div class="row">
                    <div class="col">Password</div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="psw" placeholder="Enter Password">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </body>
</html>